<h1>Dukan</h1>
    <% @products.each do |product| %>
        <div class="a" ><div><div class="c"><%= image_tag(product.image_url)%>
         </div>

<%= product.name %></div>
        <div><%= product.cp %></div>
        <div><%= product.sp %></div>
        <div><%= product.category %></div> 
        <div><%= product.quantity %></div>
        </div>
      
    <% end %>
<%= link_to 'New Product', new_product_path %>
<script>

$('.datatable').DataTable({
  dom: "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
  pagingType: "bootstrap"
});
</script>
